.container {
    background-color: #1e1e2f;
    padding: 2rem;
    min-height: 100vh;
}

.title {
    color: #fff;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.repoList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 2rem;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

/* CARD */
.repoItem {
    background: linear-gradient(135deg, #7f7f95, #968db8);
    border-radius: 12px;
    padding: 1rem;
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1 / 1;
    box-shadow: 0 4px 15px rgba(250, 248, 248, 0.2);
    text-align: center;
    display: flex;
    border: 1px solid #fff;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.3s ease;
    align-items: center;
    justify-items: center;
}

.repoItem:hover {
    transform: translateY(-5px);
    border: 1px solid #fff;
    border-radius: 12px;
    background: linear-gradient(135deg, #968db8, #7f7f95);
}

.repoItem h2 {
    background: linear-gradient(to right, #bcbccc 0%, #fbfafa 100%);
    font-size: 1.1rem;
    color: #1e1e2f;
    margin-bottom: 0.5rem;
    word-wrap: break-word;
    border: 1px solid #1e1e2f;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    font-weight: bold;
}


.lingua{
    background: linear-gradient(to right, #bcbccc 0%, #fbfafa 100%);
    font-size: 0.9rem;
    color: #1e1e2f;
    margin: 0.3rem 0;
    word-wrap: break-word;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid #1e1e2f;
}

strong{
    font-weight: bold;
}

.stats {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0;
    color: #1e1e2f;
    font-size: 1rem;
    background: linear-gradient(to right, #bcbccc 0%, #fbfafa 100%);
    border: 1px solid #1e1e2f;
    border-radius: 5px;
}

.stats span:first-child {
    border-right: 1px solid #1e1e2f;
    padding-right: 1rem;
    font-weight: bold;
}


.button {
    background: linear-gradient(to right, #bcbccc 0%, #fbfafa 100%);
    color: #1e1e2f;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: 250px;
    margin: 0 auto;
    border: 1px solid #1e1e2f;

}

.button:hover {
    background: linear-gradient(to right, #fbfafa 0%, #bcbccc 100%);
}


.loading {
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
}

.backButton {
    background: linear-gradient(to right, #bcbccc 0%, #fbfafa 100%);
    color: #383857;
    border: 2px solid #fff;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.backButton:hover {
    background: linear-gradient(to right, #fbfafa 0%, #bcbccc 100%);
    color: #1e1e2f;
}


/* RESPONSIVIDADE */
@media (max-width: 383px) {
    .repoList {
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        justify-content: center;
    }

    .repoItem {
        width: 100%;
        max-width: 100%;

    }

    .button {
        width: 100%;
    }
}
